{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_content %}
<style>
#id_oarex_rating_0,
#id_oarex_rating_1,{
display: inline-block !important;
i:}

</style>

<form method='get'>
<div class="row">
    
    <div class="form-group col-md-6">

      {{ filter.form.name.label_tag }}
      {% render_field filter.form.name class="form-control" %}
    </div>

    <div class="form-group col-md-6">
      {{ filter.form.ownership.label_tag }}
      {% render_field filter.form.ownership class="form-control" %}
    </div>
    <div class='row'>
    <div class="form-group col-12">
      {{ filter.form.oarex_rating.label_tag }}
      {% render_field filter.form.oarex_rating class="form-control col-md-6" %}
    </div>
    </div>
    <div class="form-group col-12">
      {{ filter.form.pay_terms.label_tag }}
      {% render_field filter.form.pay_terms class="form-control" %}
    </div> 
    <div class="form-group col-sm-12 col-md-12">
      {{ filter.form.jurisdiction.label_tag }}
      <div class='row'>
        {% for choice in filter.form.jurisdiction %}
          <label class="checkbox-inline col-md-2">
            {{ choice.tag }} {{ choice.choice_label }}
          </label>
        {% endfor %}
     </div>
    <div class="form-group col-sm-8 col-md-6">
    <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-search"></span> Search
    </button>
    </div>
    </div>
  </div>

</div>
</form>
{% if not filter.qs %}
<h3>No results found</h3>
{% else %}

  <table id='oarex_table' class='table table-striped'>
        <thead>
            <tr>
                <th scope='col'>Company</th>
                <th scope='col'>Oerex Rating</th>
                <th scope='col'>Pay Terms</th>
                <th scope='col'>Jurisdiction</th>
                <th scope='col'>Ownership</th>
            </tr>
        </thead>
        <tbody>
            {% for debtor_data in filter.qs %}
            <tr>
                <th scope='row'>{{debtor_data.name}}</th>
                <td>{{debtor_data.oarex_rating}}</td>
                <td>{{debtor_data.pay_terms}}</td>
                <td>{{debtor_data.jurisdiction}}</td>
                <td>{{debtor_data.ownership}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
      console.log('first hi')
    $(function() {
      console.log('second hi')
      console.log($("#oarex_table"))
      $("#oarex_table").tablesorter();
    });
    </script>
{% endif %}
{% endblock %}
